#main {
    width: 350px;
    height: 200px;
    border: 10px solid #c3c3c3;
    display: -webkit-flex; /* Safari */
    display: flex;
}

#main div {
    -webkit-flex-grow: 1; /* Safari 6.1+ */
    -webkit-flex-shrink: 1; /* Safari 6.1+ */
    -webkit-flex-basis: 100px; /* Safari 6.1+ */
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis:100px;
}

#main div:nth-of-type(2) {
    -webkit-flex-shrink: 6; /* Safari 6.1+ */
    flex-shrink: 6;
}