p.normal {
    font-weight: normal;
    font-size: 50px;

}

p.light {
    font-weight: lighter;
    font-size: 30px;
}

p.thick {
    font-weight: bold;
    font-size: 30px;
}

p.thicker {
    font-weight: 900;
    font-size: 30px;
}